{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<a href="{{ path('app_search') }}">Recherche</a>
<a href="{{ path('app_scanner') }}">Scanner un code barre</a>

{% endblock %}
