.btn-group > .btn{
    flex: initial;
}

.form-select, .form-control, .btn-primary {
    width: inherit;
}

.pagination .active {
    background-color: #8a9197;
}
.pagination span:hover {
    background-color: #adb5bd;
    border: 1px solid #adb5bd;
}

.pagination .active:hover {
    background-color: #8a9197;
    border: 1px solid #8a9197;
}

header {
    position:sticky;
    top: 0;
    z-index: 1;
}